:root {
  --logo-font: "Pacifico", cursive;
  --main-font: "Open Sans", sans-serif;
  --black: #333333;
  --white: #ffffff;
  --dark-blue: #345788;
  --light-blue: #a0b5d1;
  --gray-text:#6c6c6c;
  --light-gray-form: #f8f8f8;
  --light-gray-border: #d9d9d9;
  --gray-form-text: #818181;
  --label-high: #ff4444;
  --label-medium: #ff7474;
  --label-low: #ffc4c4;
  --label-todo: #ffbf1c;
  --label-progress: #9ed766;
  --label-complete: #059675;
  --card-bg: #eaf2f3;
}

body {
  margin: 0;
  font-family: var(--main-font);
  font-size: 16px;
  background: url("../assets/background.jpg") no-repeat;
  background-size: cover;
}

a,
a:hover,
a:active {
  color: var(--black);
  text-decoration: none;
  transition: all 0.2s ease;
}

ul {
  margin: 0; 
  padding: 0;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
}

textarea:focus,
input:focus{
  outline: none;
}

textarea {
  resize: none;
}

div,
ul,
p,
input {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 1140px;
  max-width: 90%;
}

.d-none {
  display: none;
}

/*---- Header -----*/
.header {
  padding: 15px 0;
  background: rgba(255, 255, 255, 0.5);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo:hover {
  color: var( --dark-blue);
}

.logo__title {
  margin: 0;
  font-family: var(--logo-font);
  font-size: 30px;
}

.list {
  margin-top: 10px;
  display: flex;
}

.list__item {
  margin-left: 20px;
}

.list__link:hover {
  color: var( --dark-blue);
}

.list__item_user {
  position: relative;
}

.list__item_user:after {
  content: "";
  position: absolute;
  top: 5.5px;
  right: -10px;
  display: block;
  width: 1px;
  height: 12px;
  background: var(--black);
}

/*---- Footer -----*/
.footer {
  padding: 15px 0;
  background: rgba(255, 255, 255, 0.5);
}

.list_footer {
  width: 100%;
  justify-content: space-between;
}

.list_footer .list__item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.list__text {
  font-size: 15px;
  color: var(--gray-text);
}

/*----- Buttonts ------*/
.btn {
  width: 192px;
  height: 34px;
  line-height: 33px;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  background: var(--light-blue);
  border: 1px solid var(--light-blue);
  border-radius: 24px;
  cursor: pointer;
}

.btn:hover {
  color: var(--light-blue);
  background: var(--white);
}

.filter__btn {
  width: 118px;
  transition: all 0.2s ease;
}

.create-btn,
.filter__btn {
  background: var(--dark-blue);
  border: 1px solid var(--dark-blue);
}

.create-btn:hover,
.filter__btn:hover {
  color: var(--dark-blue);
  transition: all 0.2s ease;
}

/*----- Main ------*/
.main {
  margin-bottom: 35px;
}

.parameters {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.back {
  padding: 10px 0;
}

.back-btn:hover .back-btn__path {
  fill: var(--dark-blue);
}

.title-h2 {
  margin: 0;
  font-weight: 400;
  font-size: 40px;
}

.title-h4 {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
}

/*----- Label -----*/
.label {
  display: block;
  height: 21px;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  color: var(--white);
  border-radius: 100px;
}

.label_priority {
  width: 79px;
}

.label_high {
  background: var(--label-high);
}

.label_medium {
  background: var(--label-medium);
}

.label_low {
  background: var(--label-low);
}

.label_status {
  width: 94px;
}

.label_todo {
  background: var(--label-todo);
}

.label_progress {
  background: var(--label-progress);
}

.label_complete {
  background: var(--label-complete);
}

/*----- Form elements -----*/
.input,
.comment__textarea {
  padding: 4px 11px;
  font-family: var(--main-font);
  font-size: 14px;
  color: var(--black);
  background: var(--light-gray-form);
  border: 1px solid var(--light-gray-border);
  border-radius: 2px;
}

.input::placeholder,
.comment__textarea::placeholder {
  font-family: var(--main-font);
  font-size: 14px;
  color: var(--gray-form-text);
}

.input:hover::placeholder,
.input:focus::placeholder,
.comment__textarea:hover::placeholder,
.comment__textarea:focus::placeholder {
  color: var(--black);
}

.input:hover,
.comment__textarea:hover{
  border: 1px solid var(--gray-text);
}

.input:focus,
.comment__textarea:focus {
  border: 1px solid var(--gray-text);
}