.task {
  margin: 0;
  padding: 23px 44px 38px 41px;
  border-radius: 10px;
  cursor: initial;
}

.task__img {
  width: 30px;
  height: 30px;
}

.task__subline {
  font-size: 26px;
}

.task__property {
  margin: 26px 0 38px;
  display: flex;
  justify-content: flex-start;
}

.task__item {
  margin-right: 18px;
}

.comment {
  margin-top: 35px;
}

.comment__title {
  margin-bottom: 20px;
  font-weight: 600;
}

.comment__block {
  padding-right: 10px;
  height: 100%;
  max-height: 160px;
  overflow: scroll;
}

.comment__item {
  margin-bottom: 16px;
}

.comment__wrap {
  margin-bottom: 5px;
}

.comment__date {
  margin-left: 14px;
  font-size: 14px;
  color: var(--gray-text);
}

.comment__text {
  padding: 2px 8px 3px;
  display: inline-block;
  background: var(--light-gray-form);
  border: 1px solid var(--light-gray-border);
  border-radius: 10px;
}

.comment__form {
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
}

.comment__textarea {
  padding: 7px 12px;
  width: 360px;
  height: 60px;
  border-radius: 10px;
}

.comment__btn {
  margin-left: 25px;
}